/*
Colors:
  #36413E
  #513675
  #04E824
  #FFFD82
  #D2F1E4
*/
html
{
     width: 50%;
     margin: 100 auto;
}

html *
{
  background-color: #513675;
  font-size: 21pt;
  color: #D2F1E4;
  font-family: 'Press Start 2P';
}

#title
{
     width: 500px;
     margin: 50 auto;
     color: #04E824;
}

.ticket *
{
  background-color: #D2F1E4;
  color: #36413E;
}

.ticket
{
  border-radius: 10px;
  background-color: #D2F1E4;
  color: #36413E;
  margin: 10px;
  padding: 10px;
  width: auto;
  height: 150px;
  border-style: none solid solid none;
  border-width: 4pt;
  border-color: #513675;
}

.description
{
  font-size: 14pt;
  font-family: 'Open Sans';
}

.id
{
  font-size: 14pt;
  font-family: 'Open Sans';
}

.ticket:hover
{
  border-color: #04E824;
}

.ticket h1
{
  font-family: 'Press Start 2P';
}

.hours
{
  text-align: right;
}

input
{
    border: none;
    display: inline;
    padding: none;
    text-align: right;
}

.table_column
{
  background-color: #FFFD82;
  padding: 15px;
  border-radius: 6px;
}
